.balance-container {
    width: 980px;
    height: auto;
    margin: 70px auto;
    
}
.balance-heading {
    width: 100%;
    margin: 40px 0;
    text-align: center;
    background-color:#EBF0E4;
    padding:20px;
    
}
.balance-heading span {
    font-size: 24px;
}
.balance-item img {
    width: 300px;
    height: 100%;
}
.balance-menu {
    column-gap: 40px;
    grid-template-columns: auto auto auto;

}
.balance-item {
    margin: 0;
    position: relative;
}
.balance-item-info  {
    position: absolute;
    top:0;
    left: 0;
    width: 300px;
    background-color: black;
    padding: 10px;
    color:white;

}
.balance-item-info img {
    width:20px;
    font-size: 100px;
}
.balance-item-info p {
    font-size: 18px;
    letter-spacing: 1px;
}
@media (max-width: 998px ) {
    .balance-container {
        width: 640px;
        height: auto;
        margin: 30px auto;
    }
    .balance-menu {
        grid-template-columns: auto auto ;
        row-gap: 40px;
    }
    .grid-item-3 {
        grid-area: span 1/ span 2;
        margin: auto;
    }
}

@media (max-width: 679px ) {
    .balance-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        height: auto;
        margin: 30px auto;
    }
    .balance-menu {
        grid-template-columns:  auto ;
        margin: auto;
    }
    .grid-item-3 {
        grid-area:unset;
        margin: 0;
        
    }
}

