.career {
    margin: 70px 0;
}
.career-heading {
    line-height: 30px;
    width:60%;
    margin:auto;
    text-align: center;
}
.career-heading h1 {
    margin: 15px 0;
    color: #e67437;
}
.career-vacancy {
    line-height: 30px;
    width: 80%;
    margin:auto;
}
.career-vacancy h3 {
    margin: 15px 0;
    color: #e67437;
}
.career-vacancy a {
    text-decoration: none;
    color: #e67437;
}

.application-form-container{
    padding-top:20px;
    width:450px;
    box-sizing: border-box;
    margin: 50px auto;
    text-align: center;
}
.application-form-container h1 {
    text-align: center;
    margin-bottom:20px;
    color: #e67437;
}
.application-form-container .text-input-label {
    display: block;
    text-align: start;
    color: black;
    font-size: 16px;
}
.application-form-container .input-text {
    margin-top:5px;
    padding: 0 15px;
    height:50px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgb(143, 134, 134);
}
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    color: black;
}
.submit-button {
    font-size: 18px;
    cursor: pointer;
    background-color: white;
    margin: 40px auto;
    width: 50%;
    height:50px;
    border: 1px solid rgb(143, 134, 134);
    display: flex;
    justify-content: center;
    align-items: center;
}
.submit-button:hover {
    border: 1px solid #e67437;
    color: #e67437;
}
.vacancy-input select {
    width: 100%;
    height: 50px;
    padding: 0;
    background-color: transparent;
    border: 1px solid rgb(143, 134, 134);
    border-radius:  0;
}
.vacancy-input {
    width: 100%;
    background-color:transparent;

}
.vacancy-input label {
    margin-bottom:5px;
}
.vacancy-position option {
    padding: 0 5px;
    font-size: 18px;

}

.text-area{
    margin-top:5px;
    padding: 10px 10px;
    display: flex;
    align-self: center;
    justify-content: end;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgb(143, 134, 134);
    height: 100px;
    text-align:start;
}
.vacancy-text label {
    margin-top:20px;
}
@media (max-width: 576px) {
    .application-form-container{
        width:90%;
    }
}