@font-face {
    font-family: 'Euphoria Script';
    src: url('../assets/fonts/EuphoriaScript-Regular.woff2') format('woff2'),
        url('../assets/fonts/EuphoriaScript-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-Thin.woff2') format('woff2'),
        url('../assets/fonts/Montserrat-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-ExtraLight.woff2') format('woff2'),
        url('../assets/fonts/Montserrat-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

