* {
    font-family: 'Montserrat';
    font-weight: 200;
    margin: 0;
    padding:0;
}
a{
    text-decoration: none;
    color: black;
}
a:link {
    text-decoration: none;
    color: black;
}
option {
    color:black;
}
select {
    color: black;
    -moz-appearance: none; 
	-webkit-appearance: none; 
    appearance:menulist-button;
}
