* {
    font-family: 'Montserrat';
    font-weight: 200;
}
.gallery-heading {
    margin:10px 0;
    background-color:#EBF0E4;
    width:100%;
    padding: 20px;
}
.gallery-heading p{
    text-align: center;
    font-size: 24px;
}
.gallery-container {
    width: 80%;
    margin: 30px auto;
}
.gallery-items  {
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}
.gallery-items img {
    width: 100%;
    height: 100%;
}
.grid-item-8 {
    grid-column-start: 1 ;
    grid-column-end: 3 ;
}
.grid-item-9 {
    grid-column-start: 4 ;
    grid-column-end: 6 ;
}
@media (max-width: 768px ) {
    .gallery-items {
        grid-template-columns: repeat(4, 1fr);
    }
    .grid-item-8 {
        grid-column-start: 1 ;
        grid-column-end: 4 ;
    }
    .grid-item-9 {
        grid-column-start: 2 ;
        grid-column-end: 5 ;
    }
}
@media (max-width: 576px ) {

    .gallery-items {
        grid-template-columns: repeat(3, 1fr);
    }
    .grid-item-8 {
        grid-column-start: 1 ;
        grid-column-end: 4 ;
    }
    .grid-item-9 {
        grid-column-start: 1 ;
        grid-column-end: 4 ;
    }
}
.home {
    margin-top:50px;
    width:100%;
}
.home-photo{
    background-size: cover;
    width: 50%;
}

.home-photo img{
    width: 100%;
    height:100%;
    opacity: 95%;
    height:auto;

}
.home-text {
    width: 50%;
    padding: 0 50px;
    max-height:400px;
    row-gap: 20px;
    text-align: center;
}
.home-text p {
    font-size: 16px;
    color: black;
}
.home-text span {
    text-transform: uppercase;
    font-size: 22px;
}
.home-text .menu {
    border: 1px solid black;
    padding: 5px 15px;
    font-size: 22px;

}
.home-text .menu:hover {
    color: #e67437;
    border: 1px solid #e67437;
}


@media (max-width: 920px) {
    .home-text {
        row-gap: 10px;
        padding:0 10px;
    }
    .home-photo img {
        height:100%;
    }
}
@media (max-width:804px) {
    .home-text {
        row-gap: 6px;
    }
}
@media (max-width:768px) {
    .home {
        flex-direction: column;
    }
    .home-photo  {
        width:100%;
    }
    .home-text {
        margin-top:40px;
        width:100%;
    }
}


.delivery {

    margin:50px 0;
    width:100%;
}
.delivery-photo{
    background-size: cover;
    width: 60%;
}

.delivery-photo img{
    width: 100%;
    height:100%;
    opacity: 95%;
    height:auto;

}
.delivery-text {
    width: 40%;
    padding: 20px 50px;
    max-height:400px;
    row-gap: 10px;
    text-align: center;
}
.delivery-text p {
    font-size: 16px;
    color: black;
}
.delivery-text span {
    text-transform: uppercase;
    font-size: 22px;
}
.delivery-text  h3 {
    text-transform: uppercase;
}
.delivery-text a{
    text-decoration: none;
    border: 1px solid black;
    padding: 10px 20px;
    text-transform: uppercase;
}
.delivery-text a:hover {
    color: #e67437;
    border: 1px solid #e67437;
}

@media (max-width: 820px) {
    .delivery-text {
        row-gap: 10px;
        padding-top:0;
    }
    .delivery-photo img {
        height:100%;
    }
}
@media (max-width:768px) {
    .delivery {
        position: relative;
        flex-direction: column;
        width:100%;
        height:300px;
        margin: auto;
    }
    .delivery-photo  {
        width:100%;
        height: auto;
        margin: auto;
    }
    .delivery-photo img {
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
    }
    .delivery-text {
        padding: 20px 50px;
        background-color: #EBF0E4;
        opacity: 75%;
        width: 70%;
        height:200px;
    }
}