@import './global.css';
@import './reset.css';
@import './flexbox.css';
@import './fonts.css';
@import './header1.css';
@import './footer.css';
@import './menu.css';
@import './index.css';
@import './button.css';
@import './reservation.css';
@import './balance.css';
@import './reviews.css';
@import './header.css';
@import './restmenu.css';
@import './about.css';
@import './team.css';
@import './career.css';



