* {
    font-family:'Times New Roman', Times, serif;
}

.menu-container {
    width:840px;
    margin: auto;
}
.menu-container h3{
    text-align: center;
    font-size: 26px;
}
.menu-container p {
    text-align: center;
}
.menu-card-item {
    text-align: center;
    background-color: #EBF0E4;
    width:120px;
    height:120px;
    margin:10px;
    padding-top:20px;
    border-radius:20px;
}
.menu-card-item p {
    letter-spacing: 1px;
}
.menu-card-item img {
    width: 50px;
}
.menu-card-item:hover {
    background-color: #588c7e;
    transform:scale(1.1);
}
.menu-card-item a:link, a:visited {
    color:black;
}
.menu-card-item a:hover, a:active {
    color:seashell;
    filter: invert(100%);
}
.menu-card-item:focus {
    background-color: #588c7e;
    transform:scale(1.1);
}
@media (max-width: 768px) {
    .menu-container {
        width: 420px;
    }
    .menu-card {
        grid-template-columns: auto auto auto;
    }
}

@media (max-width: 575px) {
    .menu-container {
        width: 280px;
    }
    .menu-card {
        grid-template-columns: auto auto;
    }
}

