.reservation-container {
    background-color: #EBF0E4;
    height: 300px;
    padding: 60px 0;
    margin  : 80px 0;
 
}
.reservation-info span {
    font-size: 40px;
    margin-bottom: 10px;
}

.reservation-item  {
    width: auto;
    margin: auto;
    column-gap: 30px;
}
@media (max-width: 992px) {
    .reservation-container {
        height: auto;
    }
    .reservation-item {
        grid-template-columns: auto;
        align-items: center;
        width: auto;
        row-gap: 30px;
    }
    .reserve-btn {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}.reservation-input select {
    width: 100%;
    height: 40px;
    padding: 0;
    background-color: transparent;
    border: 1px solid black;
}
.reservation-input {
    width: 300px;
}

.reservation-input ::placeholder {
    color: black;
}
.reservation-input input{
    width: 100%;
    height: 40px;
    padding: 0;
    background-color: transparent;
    border: 1px solid black;
    color:black;
}

.reserve-btn {
    width: 180px;
    height:50px;
    font-size: 18px;
    background-color: black;
    color: white;
    border:none;
    cursor: pointer;
}
.reserve-btn:hover {
    color: #e67437;
    background-color: transparent;
    border: 1px solid black;
}
.reservation-info {
    flex-direction: column;
}
