.wrapper {
    padding: 30px calc( 50% - 500px);
    margin: 50px;
    line-height: 35px;
    background-color: #fff;
    columns: 100px 2;
    column-gap: 150px;
}
.wrapper ul {
    display: block;
    padding-inline-start: 0;
}
.item {
    border-bottom: 1px dotted rgb(106, 150, 108);
    display: flex;
    justify-content: space-between;
    break-inside: avoid;
}
.wrapper span {
    color: rgba(106, 150, 108);
}
.list-title {
    font-size: 30px;
    color:#e67437c4;
}
.list {
    margin-bottom: 36px;
}
.menu-intro {
    padding: 20px 0;
    row-gap: 20px;
}
.menu-intro h1 {
    text-align: center;
    color:#e67437;
}
.menu-intro img {
    width: 50px;
    text-align: center;
}
@media (max-width: 768px) {
    .wrapper {
        columns: 50px 1;
    }
}
