.wrapper {
    padding: 10px calc( 50% - 400px);
    margin: 30px;
    line-height: 35px;
    background-color: #fff;
    columns: 100px 2;
    column-gap: 150px;
}
.wrapper ul {
    display: block;
    padding-inline-start: 0;
}
.item {
    border-bottom: 1px dotted rgb(106, 150, 108);
    display: flex;
    justify-content: space-between;
    break-inside: avoid;
}
.wrapper span {
    color: rgb(106, 150, 108);
}
.list-title {
    font-size: 30px;
    color:#e67437;
}
.list {
    margin-bottom: 36px;
}
@media (max-width: 768px) {
    .wrapper {
        columns: 50px 1;
    }
}
