
.team-container {
    width:100%;
    height:auto;
    margin: auto;
}
.team-heading {
    text-align: center;
    padding: 30px 0;
}
.team-heading h2 {
    color: #e67437;
}
.team-parent-container h1 {
    text-align: center;
    color: #e67437;
}
.team-text {
    line-height: 30px;
    padding: 0 40px;
    width: 50%;
    height:auto;
    text-align: justify;
}
.team-info {
    row-gap: 40px;
}
.team-text p {
    text-align: justify;
}
.team-text span {
    font-size:30px;
    border-bottom:0.5px solid #e67437;
}
.team-photo {
    width: 50%;
    height:auto;
    float:right;
}
.team-photo img {
    width: 100%;
    height: 100%;
}

@media (max-width: 576px) {
    .team-section {
        display: flex;
        flex-direction: column-reverse;
    }
    .team-right .team-section {
        display: flex;
        flex-direction: column ;
    }
    .team-text {
        padding:10px 30px;
        width: 100%;
    }
    .team-photo {
        width: 100%;
    }
    
}

.join-team h1{
    text-transform: uppercase;
    text-align: center;
}
.join-team  {
    width:400px;
    height: 180px;
    margin: 50px auto;
}
.join-team a{
    border: 1px solid black;
    padding: 15px 25px;
    text-transform: uppercase;
    color: black;
    letter-spacing: 2px;
}
.join-team a:hover {
    border: 1px solid #e67437;
    color:#e67437;
}